.footer {
  margin-top: 50px;
  text-align: center;
}
.footer__sig {
  font-size: 28px;
  font-family: 'Oleo Script Swash Caps', cursive;
}
.footer__heart {
  display: inline-block;
  vertical-align: middle;
}
.footer__comma {
  display: inline-block;
  margin-right: 15px;
}
.footer__tagline {
  font-size: 12px;
  font-style: oblique;
  text-transform: uppercase;
}