.title {
  display: block;
  font-size: 120px;
  line-height: 1em;
  margin: -160px auto 0 auto;
  color: #fff;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;

  @media screen and (max-width: 911px) {
    & {
      margin-top: -110px;
      font-size: 80px;
    }
  }
  @media screen and (max-width: 610px) {
    & {
      margin-top: -80px;
      font-size: 50px;
    }
  }
  @media screen and (max-width: 378px) {
    & {
      margin-top: -112px;
    }
  }
}