body
  padding: ($base-line-height * 3) $col-edge-padding
  font-family: $sans-font-family
  color: #fff
  background: cornflowerblue

.title
  display: block
  margin: 0 auto 50px auto

.message
  max-width: 100%
  width: 960px
  margin: 0 auto
  font-size: 18px
  line-height: 24px

  p + p
    margin-top: 25px
