extends layouts/index

block content

  .video
    iframe(width="1280", height="720", src="//www.youtube.com/embed/YijgnaGk2Us?list=PLD60B23A37F523BE3", frameborder="0", allowfullscreen)

  img.title(src="/img/title.png")

  .message
    p Merry Christmas!  We’re happy to have had such a fantastic year.  We hope you have been equally blessed.  This is a great time of year to review and to be grateful for all that we have and have become.
    p The story of our family this year is highlighted by the birth of our newest daughter, Alaura, in March.  She is named after Jake’s grandmother.  Somehow, she is the sweetest of the batch.  We love her so much.  She is a happy baby, and we are happy to have her.  She is happily learning to pull herself up onto things, stand, and throw herself around.
    p Alaura loves her brother Dallin who loves to entertain her with such amusements as arm tugging, belly blowing, and boo bellowing.  They are a fun pair to watch play and laugh.  Dallin is growing into a sweet, thoughtful boy.  He loves to read books, explore, and make things.  This Fall he has started preschool, which he cannot get enough of.  April is one of the teachers in the preschool group.  Both of them have loved it.
    p Preschool time for Dallin has given time for mom to have one-on-one time with Mackenzie doing mommy-daughter dates.  Mackenzie loves to play and prance to daddy’s piano performances.  Sugar plums dance all the year round.  We love Mackenzie so much.  She is a sweet little girl who has finally started giving consistent goodnight kisses, for which we are grateful.
    p We have been abundantly blessed.  We feel very fortunate.  We try not to forget that it’s our Heavenly Father who provides for us all that we have.  We are forever grateful to Him for sending His Son to Earth.  We are forever grateful to Jesus Christ for His matchless life, living gospel, and grand Atonement.  His is a truly joyous message of hope and peace that has blessed us this year and that we wish for all to enjoy.  So enjoy, and Merry Christmas!
    p.cite The Trents 2013